body {
    background: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    height: 99vh;
}

#container {
    margin-top: -23px;
    display: grid;
    grid-template-columns: 70px auto;
    height: 100%;
}
